body{
    background-color: #f0dda8;
}

/*Change look of element under id = name */
#name{
    font-size: 20px;
    display: block;
    position: relative;
    top: 10px;
    left: 38%;
}
/*Change look of element under id = email */
#email{
    font-size: 20px;
    display: block;
    position: relative;
    top: 10px;
    left: 38%;
}

/*Change look of element under id = gender */
#gender{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 38%;
}

/*Settings for gender select box   */
select{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 38%;
    width: 140px;
}

/*Change look of element under id = gender */
#feedback{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: 38%;
}

/*Change textbox area and size */
textarea{
    font-size: 15px;
    position: relative;
    top: 10px;
    left: 38%;
    width: 200px;
    height: 100px;
}

input{
    font-size: 30px;
    position: relative;
    top: 10px;
    left: 38%;
}


#hd{
    text-align: center;
}
